# Dependências
node_modules/

# Build
.next/
dist/
build/
.tmp/
*.tsbuildinfo

# Ambiente
.env
.env.*
!.env.example
!.env.production.example

# Banco local
prisma/*.db
prisma/*.db-journal

# Sistema
.DS_Store
Thumbs.db
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
